<section class="signup-form-container">
  <form 
    class="signup-form" 
    [formGroup]="loginForm" 
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input 
        matInput 
        type="email" 
        name="email" 
        placeholder="Your email"
        formControlName="email"
       >
       
       <mat-error *ngIf="loginForm.controls.email.errors?.['required']">Field must not be empty</mat-error>
       <mat-error *ngIf="loginForm.controls.email.errors?.['email']">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        type="password"  
        name="password" 
        placeholder="Your password"
        formControlName="password"
      >
      <mat-error *ngIf="loginForm.controls.password.errors?.['required']">Field must not be empty</mat-error>
    </mat-form-field>
    <button 
      class="btn-singup-form"
      type="submit" 
      mat-raised-button 
      color="primary"
      *ngIf="!isLoading"
      [disabled]="loginForm.invalid"
    >
    Login
  </button>
  <mat-spinner
    *ngIf="isLoading"
    [diameter]="30"
    [strokeWidth]="4"
    color="white"
  ></mat-spinner>
</form>
</section>

