<mat-toolbar color="primary">
  <div class="toobar-menu">
    <button mat-icon-button (click)="onToggleSidenav()" *appIsMobile>
      <mat-icon>menu</mat-icon>
    </button>
    <div>Logo</div>
  </div>
  <div class="nav-links-container" *appIsDesktop>
    <a *ngIf="!isAtuh" routerLink="/signup">Signup</a>
    <a *ngIf="!isAtuh" routerLink="/login">Login</a>
    <a *ngIf="isAtuh" routerLink="/training">Training</a>
    <a *ngIf="isAtuh" style="cursor: pointer;" (click)="onLogout()" routerLink="/logout">Logout</a>
  </div>
</mat-toolbar>