<mat-toolbar color="primary">
  <div class="toobar-menu">
    <button mat-icon-button (click)="onToggleSidenav()" *appIsMobile>
      <mat-icon>menu</mat-icon>
    </button>
    <div>Fitness Tracker</div>
  </div>
  <div class="nav-links-container" *appIsDesktop>
    <a *ngIf="!(isAuth$ | async)" routerLink="/signup">Signup</a>
    <a *ngIf="!(isAuth$ | async)" routerLink="/login">Login</a>
    <a *ngIf="(isAuth$ | async)" routerLink="/training">Training</a>
    <a *ngIf="(isAuth$ | async)" style="cursor: pointer;" (click)="onLogout()" routerLink="/logout">Logout</a>
  </div>
</mat-toolbar>