a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #ccc;
}

.toobar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation desktop links*/
.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-links-container > div {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

div > a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
