<section class="signup-form-container">
  <form class="signup-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        matInput 
        type="email" 
        ngModel 
        name="email" 
        placeholder="Your email"
        email
        #emailInput="ngModel"
        required
       >
       
       <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
       <mat-error *ngIf="emailInput.hasError('invalid')">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        type="password" 
        ngModel 
        name="password" 
        placeholder="Your password"
        required
        minlength="6"
        #pwInput="ngModel"
      >
      <mat-hint *ngIf="pwInput.hasError('minlength')">Shoulld be at least characters long {{ pwInput.value.length}} /6</mat-hint>
      <mat-hint *ngIf="pwInput.hasError('required')">Field must not be empty</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <!-- matDatepicker is a directive. It is connected to the value -->
      <input 
        matInput 
        ngModel 
        placeholder="Your birthdate" 
        [max]="maxDate" 
        [matDatepicker]="picker"
        required
        name="birthdate"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
     <!-- checkbox works stand alone no need for mat-form-field -->
    <mat-checkbox required name="agree" color="primary">Agree to Terms and Conditions</mat-checkbox>
    <button 
      [disabled]="f.invalid" 
      class="btn-singup-form" 
      type="submit" 
      mat-raised-button
      *ngIf="!(isLoading$ | async)"
      color="primary">
      Submit
    </button>
    <mat-spinner
      *ngIf="isLoading$ | async"
      [diameter]="30"
      [strokeWidth]="4"
      color="white"
    ></mat-spinner>
  </form>
</section>

