<section class="new-training">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card>
      <mat-card-title class="space">Time to start a workout!</mat-card-title>
      <mat-card-content>
        <mat-form-field *ngIf="!(isLoading$ | async)">
          <mat-select 
             placeholder="Choose Exercises" 
             class="new-training" 
             ngModel 
             required 
             name="exercise"
          >
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner
          class="new-training" 
          *ngIf="isLoading$ | async"
          [diameter]="200"
          [strokeWidth]="4"
        ></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)" class="new-training">
        <button *ngIf="exercises$ | async" type="submit" mat-button [disabled]="f.invalid" [ngClass]="{'btn-primary': f.valid}">Start</button>
        <button *ngIf="!(exercises$ | async)" type="button" mat-button (click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
