<section class="new-training">
  <form (ngSubmit)="(f)" #f="ngForm">
    <mat-card>
      <mat-card-title class="space">Time to start a workout!</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select 
             placeholder="Choose Exercises" 
             class="new-training" 
             ngModel 
             required 
             name="exercise"
          >
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="new-training">
        <button type="submit" mat-button [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
